<appSettings>
  <add key="ida:AppID" value="28a815ce-c872-4712-b983-afb49c1e3e07" />
  <add key="ida:AppSecret" value="s-EA7Nt-Q.CN.dL4Q4M~Zk4w.-_Zi7OER-" />
  <add key="ida:RedirectUri" value="https://localhost:44394/" />
  <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>